<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <%= form_for @brainstorm, :html => {:id => "brainstorm-form"} do |f| %>
      <!-- <div class="control-group">
        <div class="controls">
          <%= f.text_field :title, :class => 'form_control', :placeholder => "Title", :size => 150 %>
        </div>
      </div> -->
      <div class="control-group">
        <div class="controls input-block-level input-xxlarge">
          <%= f.text_area :description, :size => "150x20", :placeholder => "Let your thoughts flow...", id: "textbox-input", onselect: "grabTextSelection()", style: "width: 100%;" %>
          <!--
            , class: "wysihtml5"
          -->
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-1">  
    <div style="display:none;">
      <div id="item-form">
       <%= form_for(@item, :remote => true) do |f| %>
         <%= f.text_area :description, :size => "200x2" %>
       <% end %> 
      </div>
    </div>
    <!--
      Side bar
    -->
    <div class="block">
     <a href="javascript:void(0)" class="form-submit hovicon small effect-1 sub-a" onclick="$('#item-form').submit(); return false;">
       C
     </a>
     <br/>
     <a href="javascript:void(0)" class="form-submit hovicon small effect-1 sub-a" onclick="$('#brainstorm-form').submit();">
       S
     </a> 
    </div>


  </div>
</div>



<script type="text/javascript">
function grabTextSelection() {
    $("[name='item[description]").text($('#textbox-input').selection());
}

$(document).ready(function(){

  $('.wysihtml5').each(function(i, elem) {
    $(elem).wysihtml5();
  });

})
</script>

<!--
TO DO

Items:
JavaScript
X - Grab text
  - Clear text Selection
  - Notify of created item
-->