<div class="row">
  <div class="col-md-11">
    <%= form_for @brainstorm, :html => {:id => "brainstorm-form"} do |f| %>
      <div class="collapse" id="brainstorm_title_input">
        <div class="control-group">
          <div class="controls input-block-level input-xxlarge">
            <%= f.text_field :title, :class => 'form_control', class: "new-brainstorm-input", :placeholder => "Title", style: "width: 100%; font-size: 18px; height: 60px; " %>
          </div>
        </div>
      </div>

      <div class="control-group">
        <div class="controls input-block-level input-xxlarge">
          <%= f.text_area :description, :size => "150x20", :placeholder => "Let your thoughts flow...", class: "new-brainstorm-input", onselect: "grabTextSelection()", style: "width: 100%;" %>
          <!--
            , class: "wysihtml5"
          -->
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-1">  
    <div style="display:none;">
      <div id="item-form">
       <%= form_for(@item, :remote => true) do |f| %>
         <%= f.text_area :description, :size => "200x2" %>
       <% end %> 
      </div>
    </div>
    <!--
      Side bar
    -->
    <div class="block">
      <a class="hovicon small effect-1 sub-a" role="button" data-toggle="collapse" href="#brainstorm_title_input" aria-expanded="false" aria-controls="collapseExample" title="Title">
        T
      </a>
    </div>
    <div class="block">
      <a class="hovicon small effect-1 sub-a" role="button" data-toggle="collapse" href=".wysihtml5-toolbar" aria-expanded="false" aria-controls="collapseExample" title="Font">
        F
      </a>
    </div>    
    <div class="block">
     <a href="javascript:void(0)" class="form-submit hovicon small effect-1 sub-a" onclick="$('#item-form').submit(); return false;" title="Clipping">
       C
     </a>
     <br/>
     <a href="javascript:void(0)" class="form-submit hovicon small effect-1 sub-a" onclick="$('#brainstorm-form').submit();" title="Save">
       S
     </a> 
    </div>


  </div>
</div>



<script type="text/javascript">
function grabTextSelection() {
    $("[name='item[description]").text($('#textbox-input').selection());
}

$(document).ready(function(){

  $('.wysihtml5').each(function(i, elem) {
    $(elem).wysihtml5();
    
  });
  

  
})
</script>

<!--
TO DO

Items:
JavaScript
X - Grab text
  - Clear text Selection
  - Notify of created item
-->