<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="nav navbar-nav navbar-right hidden-sm hidden-lg">
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete, title: "Quit" %></li>
      <li><a href="<%= edit_user_registration_path %>" title="Profile">Profile</a></li>
      <li><a href="<%= items_path %>" title="Sort">S</a></li>
      <li><a href="<%= brainstorms_path %>" title="Write">W</a></li>
    </ul>
  </div>
  <div class="hidden-xs">
    <div class="radial-menu">
      <%= link_to "Q", destroy_user_session_path, method: :delete, class: "menu-item1 hovicon small effect-1 sub-a", title: "Quit" %>
      <a href="<%= edit_user_registration_path %>" class="menu-item2 hovicon small effect-1 sub-a" title="Profile">P</a>
      <a href="<%= items_path %>" class="menu-item3 hovicon small effect-1 sub-a" title="Sort">S</a>
      <a href="<%= brainstorms_path %>" class="menu-item4 hovicon small effect-1 sub-a" title="Write">W</a>
      <div class="mask"><i class="fa fa-bars fa-2x"></i></div>
    </div>
    </ul>
  </div>
</nav>  